extends layout

block content
  if user
    // begin:: Content Head
    #kt_subheader.kt-subheader.kt-grid__item
      .kt-container.kt-container--fluid
        .kt-subheader__main
          h3.kt-subheader__title Lista klientów
          span.kt-subheader__separator.kt-subheader__separator--v.kt-hidden
          span.kt-subheader__desc.kt-hidden #XRS-45670
          .kt-subheader__breadcrumbs
            a.kt-subheader__breadcrumbs-home(href='#')
              i.flaticon2-shelter
            span.kt-subheader__breadcrumbs-separator
            a.kt-subheader__breadcrumbs-link(href='#') Klienci
            span.kt-subheader__breadcrumbs-separator
            a.kt-subheader__breadcrumbs-link.kt-subheader__breadcrumbs-link--active(href='/dashboard/clientlist') Lista klientów
        .kt-subheader__toolbar
          .kt-subheader__wrapper
            .dropdown.dropdown-inline(data-toggle-='kt-tooltip', title='Szybkie działania', data-placement='left')
              a.btn.btn-icon(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                svg.kt-svg-icon.kt-svg-icon--success.kt-svg-icon--md(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewBox='0 0 24 24', version='1.1')
                  g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    polygon#Shape(points='0 0 24 0 24 24 0 24')          
                    path#Combined-Shape(d='M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z', fill='#000000', fill-rule='nonzero', opacity='0.3')
                    path#Combined-Shape(d='M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z', fill='#000000')               
              .dropdown-menu.dropdown-menu-fit.dropdown-menu-md.dropdown-menu-right
                // BEGIN:: Nav
                ul.kt-nav
                  li.kt-nav__head
                    | Add anything or jump to:
                    i.flaticon2-information(data-toggle='kt-tooltip', data-placement='right', title='Click to learn more...')                   
                  li.kt-nav__separator                
                  li.kt-nav__item
                    a.kt-nav__link(href='#')
                      i.kt-nav__link-icon.flaticon2-drop                  
                      span.kt-nav__link-text Order                   
                  li.kt-nav__item
                    a.kt-nav__link(href='#')
                      i.kt-nav__link-icon.flaticon2-calendar-8                           
                      span.kt-nav__link-text Ticket                               
                  li.kt-nav__item
                    a.kt-nav__link(href='#')
                      i.kt-nav__link-icon.flaticon2-telegram-logo                                    
                      span.kt-nav__link-text Goal                                
                  li.kt-nav__item
                    a.kt-nav__link(href='#')
                      i.kt-nav__link-icon.flaticon2-new-email                                       
                      span.kt-nav__link-text Support Case                                   
                      span.kt-nav__link-badge
                        span.kt-badge.kt-badge--brand.kt-badge--rounded 5            
                  li.kt-nav__separator                       
                  li.kt-nav__foot
                    a.btn.btn-label-brand.btn-bold.btn-sm(href='#') Upgrade plan 
                    a.btn.btn-clean.btn-bold.btn-sm.kt-hidden(href='#', data-toggle='kt-tooltip', data-placement='right', title='Click to learn more...') Learn more
                // END:: Nav
    // END:: Content Head
    // BEGIN:: Content
    .kt-container.kt-container--fluid.kt-grid__item.kt-grid__item--fluid
      // BEGIN:: Dashboard 1
      // BEGIN:: Row
      .row
        .col-xl-12.order-lg-2.order-xl-1
          .kt-portlet.kt-portlet--height-fluid.kt-portlet--mobile
            .kt-portlet__head.kt-portlet__head--lg.kt-portlet__head--noborder.kt-portlet__head--break-sm
              .kt-portlet__head-label
                h3.kt-portlet__head-title Lista klientów 
              .kt-portlet__head-toolbar
                .dropdown.dropdown-inline
                  button.btn.btn-clean.btn-sm.btn-icon.btn-icon-md(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.flaticon-more-1                  
                  .dropdown-menu.dropdown-menu-right.dropdown-menu-md.dropdown-menu-fit
                    // BEGIN:: Nav
                    ul.kt-nav
                      li.kt-nav__head
                        | Export Options
                        span(data-toggle='kt-tooltip', data-placement='right', title='Kliknij aby przeczytać więcej')
                          svg.kt-svg-icon.kt-svg-icon--brand.kt-svg-icon--md1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewBox='0 0 24 24', version='1.1')
                            g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                              rect#bound(x='0', y='0', width='24', height='24')
                              circle#Oval-5(fill='#000000', opacity='0.3', cx='12', cy='12', r='10')
                              rect#Rectangle-9(fill='#000000', x='11', y='10', width='2', height='7', rx='1')
                              rect#Rectangle-9-Copy(fill='#000000', x='11', y='7', width='2', height='2', rx='1')                           
                      li.kt-nav__separator                                
                      li.kt-nav__item
                        a.kt-nav__link(href='#')
                          i.kt-nav__link-icon.flaticon2-drop                                   
                          span.kt-nav__link-text Activity                               
                      li.kt-nav__item
                        a.kt-nav__link(href='#')
                          i.kt-nav__link-icon.flaticon2-calendar-8                                      
                          span.kt-nav__link-text FAQ                  
                      li.kt-nav__item
                        a.kt-nav__link(href='#')
                          i.kt-nav__link-icon.flaticon2-telegram-logo                                  
                          span.kt-nav__link-text Settings                       
                      li.kt-nav__item
                        a.kt-nav__link(href='#')
                          i.kt-nav__link-icon.flaticon2-new-email                                     
                          span.kt-nav__link-text Support                                  
                          span.kt-nav__link-badge
                            span.kt-badge.kt-badge--success.kt-badge--rounded 5                          
                      li.kt-nav__separator                         
                      li.kt-nav__foot
                        a.btn.btn-label-danger.btn-bold.btn-sm(href='#') Upgrade plan                                     
                        a.btn.btn-clean.btn-bold.btn-sm(href='#', data-toggle='kt-tooltip', data-placement='right', title='Kliknij aby przeczytać więcej') Learn more
                    // END:: Nav            
            .kt-portlet__body
              | lista klientow tu kiedys bedzie
