extends layout

block stylecss
  link(href='./assets/css/demo1/pages/wizard/wizard-1.css', rel='stylesheet', type='text/css')

block content
  if user
    html
      head
      body
        #kt_subheader.kt-subheader.kt-grid__item
          .kt-container.kt-container--fluid
            .kt-subheader__main
              h3.kt-subheader__title
                | Dodaj nową ofertę
              .kt-subheader__breadcrumbs
                a.kt-subheader__breadcrumbs-home(href='#')
                  i.flaticon2-shelter
                span.kt-subheader__breadcrumbs-separator
                a.kt-subheader__breadcrumbs-link(href='#') Oferty
                span.kt-subheader__breadcrumbs-separator
                a.kt-subheader__breadcrumbs-link.kt-subheader__breadcrumbs-link--active(href='/dashboard/offeradd') Dodaj ofertę
        // begin:: Content
        .kt-container.kt-container--fluid.kt-grid__item.kt-grid__item--fluid
        html
          head
          body
            .kt-portlet
              .kt-portlet__body.kt-portlet__body--fit
                #kt_offer_add.kt-grid.kt-wizard-v1.kt-wizard-v1--white(data-ktwizard-state='first')
                  .kt-grid__item
                    // begin: Form Wizard Nav
                    .kt-wizard-v1__nav
                      .kt-wizard-v1__nav-items
                        // doc: Replace A tag with SPAN tag to disable the step link click
                        span.kt-wizard-v1__nav-item(href='javascript:;', data-ktwizard-type='step', data-ktwizard-state='current')
                          .kt-wizard-v1__nav-body
                            .kt-wizard-v1__nav-icon
                              i.flaticon-notes
                            .kt-wizard-v1__nav-label
                              | 1. Typ oferty
                        span.kt-wizard-v1__nav-item(href='javascript:;', data-ktwizard-type='step', data-ktwizard-state='pending')
                          .kt-wizard-v1__nav-body
                            .kt-wizard-v1__nav-icon
                              i.flaticon-users
                            .kt-wizard-v1__nav-label
                              | 2. Klient i firma
                        span.kt-wizard-v1__nav-item(href='javascript:;', data-ktwizard-type='step', data-ktwizard-state='pending')
                          .kt-wizard-v1__nav-body
                            .kt-wizard-v1__nav-icon
                              i.flaticon-list
                            .kt-wizard-v1__nav-label
                              | 3. Dane ofertowe
                        span.kt-wizard-v1__nav-item(href='javascript:;', data-ktwizard-type='step', data-ktwizard-state='pending')
                          .kt-wizard-v1__nav-body
                            .kt-wizard-v1__nav-icon
                              i.flaticon-truck
                            .kt-wizard-v1__nav-label
                              | 4. Delivery Address
                        span.kt-wizard-v1__nav-item(href='javascript:;', data-ktwizard-type='step', data-ktwizard-state='pending')
                          .kt-wizard-v1__nav-body
                            .kt-wizard-v1__nav-icon
                              i.flaticon-globe
                            .kt-wizard-v1__nav-label
                              | 5. Review and Submit
                    // end: Form Wizard Nav
                  | &#x9;&#x9;&#x9;
                  .kt-grid__item.kt-grid__item--fluid.kt-wizard-v1__wrapper
                    // begin: Form Wizard Form
                    form#kt_offer_form.kt-form(novalidate='novalidate')
                      // begin: Form Wizard Step 1
                      .kt-wizard-v1__content(data-ktwizard-type='step-content', data-ktwizard-state='current')
                        .kt-heading.kt-heading--md Wybierz typ oferty
                        .kt-form__section.kt-form__section--first
                          .kt-wizard-v1__form
                            .custom-form-group
                              p.form__answer
                                input#match_1(type='radio', name='offer_type', value='leasing', checked='')
                                |  
                                | &#x9;&#x9;&#x9;&#x9;
                                label(for='match_1')
                                  svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewBox='0 0 24 24', version='1.1')
                                    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                      rect#bound(x='0', y='0', width='24', height='24')
                                      |         
                                      path#Combined-Shape-Copy(d='M2,6 L21,6 C21.5522847,6 22,6.44771525 22,7 L22,17 C22,17.5522847 21.5522847,18 21,18 L2,18 C1.44771525,18 1,17.5522847 1,17 L1,7 C1,6.44771525 1.44771525,6 2,6 Z M11.5,16 C13.709139,16 15.5,14.209139 15.5,12 C15.5,9.790861 13.709139,8 11.5,8 C9.290861,8 7.5,9.790861 7.5,12 C7.5,14.209139 9.290861,16 11.5,16 Z', fill='#000000', opacity='0.3', transform='translate(11.500000, 12.000000) rotate(-345.000000) translate(-11.500000, -12.000000) ')
                                      |         
                                      path#Combined-Shape(d='M2,6 L21,6 C21.5522847,6 22,6.44771525 22,7 L22,17 C22,17.5522847 21.5522847,18 21,18 L2,18 C1.44771525,18 1,17.5522847 1,17 L1,7 C1,6.44771525 1.44771525,6 2,6 Z M11.5,16 C13.709139,16 15.5,14.209139 15.5,12 C15.5,9.790861 13.709139,8 11.5,8 C9.290861,8 7.5,9.790861 7.5,12 C7.5,14.209139 9.290861,16 11.5,16 Z M11.5,14 C12.6045695,14 13.5,13.1045695 13.5,12 C13.5,10.8954305 12.6045695,10 11.5,10 C10.3954305,10 9.5,10.8954305 9.5,12 C9.5,13.1045695 10.3954305,14 11.5,14 Z', fill='#000000')

                                  | &#x9;&#x9;&#x9;&#x9;&#x9;Leasing
                              p.form__answer
                                input#match_2(type='radio', name='offer_type', value='rent')
                                |  
                                | &#x9;&#x9;&#x9;&#x9;
                                label(for='match_2')
                                  svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewBox='0 0 24 24', version='1.1')
                                    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                      rect#bound(x='0', y='0', width='24', height='24')
                                      path#Mask(d='M12,22 C7.02943725,22 3,17.9705627 3,13 C3,8.02943725 7.02943725,4 12,4 C16.9705627,4 21,8.02943725 21,13 C21,17.9705627 16.9705627,22 12,22 Z', fill='#000000', opacity='0.3')
                                      path#Path-107(d='M11.9630156,7.5 L12.0475062,7.5 C12.3043819,7.5 12.5194647,7.69464724 12.5450248,7.95024814 L13,12.5 L16.2480695,14.3560397 C16.403857,14.4450611 16.5,14.6107328 16.5,14.7901613 L16.5,15 C16.5,15.2109164 16.3290185,15.3818979 16.1181021,15.3818979 C16.0841582,15.3818979 16.0503659,15.3773725 16.0176181,15.3684413 L11.3986612,14.1087258 C11.1672824,14.0456225 11.0132986,13.8271186 11.0316926,13.5879956 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z', fill='#000000')
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;Wypożyczenie
                              p.form__answer
                                input#match_3(type='radio', name='offer_type', value='insurance')
                                |  
                                | &#x9;&#x9;&#x9;&#x9;
                                label(for='match_3')
                                  svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewBox='0 0 24 24', version='1.1')
                                    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                      rect#bound(x='0', y='0', width='24', height='24')
                                      path#Path-50(d='M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z', fill='#000000', opacity='0.3')
                                      path#check-path(d='M11.1750002,14.75 C10.9354169,14.75 10.6958335,14.6541667 10.5041669,14.4625 L8.58750019,12.5458333 C8.20416686,12.1625 8.20416686,11.5875 8.58750019,11.2041667 C8.97083352,10.8208333 9.59375019,10.8208333 9.92916686,11.2041667 L11.1750002,12.45 L14.3375002,9.2875 C14.7208335,8.90416667 15.2958335,8.90416667 15.6791669,9.2875 C16.0625002,9.67083333 16.0625002,10.2458333 15.6791669,10.6291667 L11.8458335,14.4625 C11.6541669,14.6541667 11.4145835,14.75 11.1750002,14.75 Z', fill='#000000')
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;Ubezpieczenie
                          .kt-separator.kt-separator--border-dashed.kt-separator--space-lg.kt-separator--portlet-fit
                      // end: Form Wizard Step 1
                      // begin: Form Wizard Step 2
                      .kt-wizard-v1__content(data-ktwizard-type='step-content')
                        .kt-heading.kt-heading--md Wybierz klienta oraz firmę
                        .kt-form__section.kt-form__section--first
                          .kt-wizard-v1__form
                            .form-group
                              label Wybierz klienta
                              select#clientsRemote.form-control.kt-select2(name='client_id')
                                option
                              span.form-text.text-muted.kt-font-bold.kt-font-brand Oferta zostanie przedstawiona wybranemu klientowi.
                            .form-group
                              label Wybierz firmę
                              select#companiesRemote.form-control.kt-select2(name='company_id')
                                option
                              span.form-text.text-muted.kt-font-bold.kt-font-brand Wybierz tą firmę do której została wysłana oferta.
                      // end: Form Wizard Step 2
                      // begin: Form Wizard Step 3
                      .kt-wizard-v1__content(data-ktwizard-type='step-content')
                        #leasing_type_box
                          .kt-heading.kt-heading--md Dane przedmiotu ofertowego
                          .kt-form__section.kt-form__section--first
                            .kt-wizard-v1__form
                              .form-group
                                label Rodzaj/typ pojazdu: 
                                select.form-control(name='item_type')
                                  option(value='', selected='', disabled='') Wybierz rodzaj przedmiotu
                                  option(value='samochód osobowy') samochód osobowy
                                  option(value='samochód ciężarowy') samochód ciężarowy
                              .form-group
                                label Marka/model pojazdu: 
                                input.form-control(type='text', name='brand', placeholder='Marka/model pojazdu')
                              .form-group
                                label Pojazd: 
                                select.form-control(name='condition')
                                  option(value='nowy', selected='') nowy
                                  option(value='używany') używany
                              .form-group
                                label Rok produkcji: 
                                input#pyear.form-control(type='text', name='pyear', placeholder='Rok produkcji')
                              .form-group
                                label Cena netto: 
                                input#price_netto.form-control(type='text', name='netto', placeholder='Cena netto')
                              .kt-separator.kt-separator--border-dashed.kt-separator--space-lg.kt-separator--portlet-fit
                          .kt-heading.kt-heading--md Warianty ofertowe
                          .kt-form__section.kt-form__section--first
                            .kt-wizard-v1__form
                              #leasing_variants
                                #leasing_variants.form-group.form-group-last.row
                                  .col-lg-12(data-repeater-list='')
                                    .form-group.align-items-center(data-repeater-item='')
                                      .row
                                        .col-md-5
                                          .kt-form__group--inline
                                            .kt-form__label
                                              label Okres umowy (w miesiącach):
                                              input.form-control(type='number', min='12', max='79', name='contract', placeholder='Okres umowy')
                                        .col-md-5
                                          .kt-form__group--inline
                                            .kt-form__label
                                              label.kt-label.m-label--single Opłata wstępna:
                                              input.form-control(type='number', name='inital_fee', placeholder='Opłata wstępna') 
                                        .col-md-2.kt-margin-t-30
                                          a.btn-sm.btn.btn-label-danger.btn-bold(href='javascript:;', data-repeater-delete='')
                                            i.la.la-trash-o
                                            | Usuń
                                      .row.kt-margin-t-10
                                        .col-md-5
                                          .kt-form__group--inline
                                            .kt-form__label
                                              label.kt-label Rata leasingowa:
                                              input.form-control(type='number', name='leasing_install', placeholder='Rata leasingowa')
                                        |                                
                                        .col-md-5
                                          .kt-form__group--inline
                                            .kt-form__label
                                              label.kt-label.m-label--single Wykup:
                                              input.form-control(type='number', name='repurchase', placeholder='Wykup') 
                                        |                                
                                      .row.kt-margin-t-10
                                        .col-md-10
                                          .kt-form__group--inline
                                            .kt-form__label
                                              label.kt-label.m-label--single Suma opłat:
                                              input.form-control(type='number', name='sum_fee', placeholder='Suma opłat') 
                                        |                
                                      .kt-separator.kt-separator--border-dashed.kt-separator--space-lg.kt-separator--portlet-fit
                                |                      
                                .form-group.form-group-last.row
                                  label.col-lg-2.col-form-label
                                  |                         
                                  .col-lg-4
                                    a.btn.btn-bold.btn-sm.btn-label-brand(href='javascript:;', data-repeater-create='')
                                      i.la.la-plus
                                      | Dodaj wariant
                      // end: Form Wizard Step 3
                      // begin: Form Wizard Step 4
                      .kt-wizard-v1__content(data-ktwizard-type='step-content')
                        .kt-heading.kt-heading--md Setup Your Delivery Location
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .kt-form__section.kt-form__section--first
                          .kt-wizard-v1__form
                            .form-group
                              label Address Line 1
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              input.form-control(type='text', name='locaddress1', placeholder='Address Line 1', value='Address Line 1')
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              span.form-text.text-muted Please enter your Address.
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .form-group
                              label Address Line 2
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              input.form-control(type='text', name='locaddress2', placeholder='Address Line 2', value='Address Line 2')
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              span.form-text.text-muted Please enter your Address.
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .row
                              .col-xl-6
                                .form-group
                                  label Postcode
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  input.form-control(type='text', name='locpostcode', placeholder='Postcode', value='3072')
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  span.form-text.text-muted Please enter your Postcode.
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              .col-xl-6
                                .form-group
                                  label City
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  input.form-control(type='text', name='loccity', placeholder='City', value='Preston')
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  span.form-text.text-muted Please enter your City.
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .row
                              .col-xl-6
                                .form-group
                                  label State
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  input.form-control(type='text', name='locstate', placeholder='State', value='VIC')
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  span.form-text.text-muted Please enter your Postcode.
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              .col-xl-6
                                .form-group
                                  label Country:
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  select.form-control(name='loccountry')
                                    option(value='') Select
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AF') Afghanistan
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AX') &angst;land Islands
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AL') Albania
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='DZ') Algeria
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AS') American Samoa
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AD') Andorra
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AO') Angola
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AI') Anguilla
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AQ') Antarctica
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AG') Antigua and Barbuda
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AR') Argentina
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AM') Armenia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AW') Aruba
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AU', selected='') Australia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AT') Austria
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AZ') Azerbaijan
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BS') Bahamas
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BH') Bahrain
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BD') Bangladesh
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BB') Barbados
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BY') Belarus
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BE') Belgium
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BZ') Belize
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BJ') Benin
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BM') Bermuda
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BT') Bhutan
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BO') Bolivia, Plurinational State of
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BQ') Bonaire, Sint Eustatius and Saba
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BA') Bosnia and Herzegovina
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BW') Botswana
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BV') Bouvet Island
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BR') Brazil
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='IO') British Indian Ocean Territory
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BN') Brunei Darussalam
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BG') Bulgaria
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BF') Burkina Faso
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BI') Burundi
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='KH') Cambodia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CM') Cameroon
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CA') Canada
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CV') Cape Verde
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='KY') Cayman Islands
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CF') Central African Republic
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TD') Chad
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CL') Chile
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CN') China
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CX') Christmas Island
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CC') Cocos (Keeling) Islands
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CO') Colombia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='KM') Comoros
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CG') Congo
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CD') Congo, the Democratic Republic of the
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CK') Cook Islands
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CR') Costa Rica
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CI') C&ocirc;te d&apos;Ivoire
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='HR') Croatia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CU') Cuba
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CW') Cura&ccedil;ao
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CY') Cyprus
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CZ') Czech Republic
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='DK') Denmark
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='DJ') Djibouti
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='DM') Dominica
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='DO') Dominican Republic
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='EC') Ecuador
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='EG') Egypt
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SV') El Salvador
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GQ') Equatorial Guinea
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='ER') Eritrea
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='EE') Estonia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='ET') Ethiopia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='FK') Falkland Islands (Malvinas)
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='FO') Faroe Islands
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='FJ') Fiji
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='FI') Finland
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='FR') France
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GF') French Guiana
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PF') French Polynesia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TF') French Southern Territories
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GA') Gabon
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GM') Gambia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GE') Georgia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='DE') Germany
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GH') Ghana
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GI') Gibraltar
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GR') Greece
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GL') Greenland
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GD') Grenada
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GP') Guadeloupe
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GU') Guam
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GT') Guatemala
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GG') Guernsey
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GN') Guinea
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GW') Guinea-Bissau
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GY') Guyana
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='HT') Haiti
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='HM') Heard Island and McDonald Islands
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='VA') Holy See (Vatican City State)
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='HN') Honduras
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='HK') Hong Kong
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='HU') Hungary
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='IS') Iceland
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='IN') India
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='ID') Indonesia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='IR') Iran, Islamic Republic of
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='IQ') Iraq
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='IE') Ireland
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='IM') Isle of Man
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='IL') Israel
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='IT') Italy
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='JM') Jamaica
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='JP') Japan
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='JE') Jersey
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='JO') Jordan
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='KZ') Kazakhstan
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='KE') Kenya
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='KI') Kiribati
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='KP') Korea, Democratic People&apos;s Republic of
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='KR') Korea, Republic of
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='KW') Kuwait
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='KG') Kyrgyzstan
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='LA') Lao People&apos;s Democratic Republic
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='LV') Latvia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='LB') Lebanon
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='LS') Lesotho
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='LR') Liberia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='LY') Libya
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='LI') Liechtenstein
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='LT') Lithuania
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='LU') Luxembourg
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MO') Macao
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MK') Macedonia, the former Yugoslav Republic of
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MG') Madagascar
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MW') Malawi
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MY') Malaysia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MV') Maldives
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='ML') Mali
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MT') Malta
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MH') Marshall Islands
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MQ') Martinique
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MR') Mauritania
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MU') Mauritius
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='YT') Mayotte
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MX') Mexico
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='FM') Micronesia, Federated States of
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MD') Moldova, Republic of
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MC') Monaco
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MN') Mongolia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='ME') Montenegro
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MS') Montserrat
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MA') Morocco
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MZ') Mozambique
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MM') Myanmar
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='NA') Namibia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='NR') Nauru
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='NP') Nepal
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='NL') Netherlands
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='NC') New Caledonia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='NZ') New Zealand
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='NI') Nicaragua
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='NE') Niger
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='NG') Nigeria
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='NU') Niue
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='NF') Norfolk Island
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MP') Northern Mariana Islands
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='NO') Norway
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='OM') Oman
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PK') Pakistan
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PW') Palau
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PS') Palestinian Territory, Occupied
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PA') Panama
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PG') Papua New Guinea
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PY') Paraguay
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PE') Peru
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PH') Philippines
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PN') Pitcairn
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PL') Poland
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PT') Portugal
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PR') Puerto Rico
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='QA') Qatar
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='RE') R&eacute;union
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='RO') Romania
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='RU') Russian Federation
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='RW') Rwanda
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='BL') Saint Barth&eacute;lemy
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SH') Saint Helena, Ascension and Tristan da Cunha
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='KN') Saint Kitts and Nevis
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='LC') Saint Lucia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='MF') Saint Martin (French part)
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='PM') Saint Pierre and Miquelon
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='VC') Saint Vincent and the Grenadines
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='WS') Samoa
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SM') San Marino
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='ST') Sao Tome and Principe
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SA') Saudi Arabia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SN') Senegal
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='RS') Serbia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SC') Seychelles
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SL') Sierra Leone
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SG') Singapore
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SX') Sint Maarten (Dutch part)
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SK') Slovakia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SI') Slovenia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SB') Solomon Islands
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SO') Somalia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='ZA') South Africa
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GS') South Georgia and the South Sandwich Islands
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SS') South Sudan
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='ES') Spain
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='LK') Sri Lanka
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SD') Sudan
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SR') Suriname
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SJ') Svalbard and Jan Mayen
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SZ') Swaziland
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SE') Sweden
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='CH') Switzerland
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='SY') Syrian Arab Republic
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TW') Taiwan, Province of China
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TJ') Tajikistan
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TZ') Tanzania, United Republic of
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TH') Thailand
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TL') Timor-Leste
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TG') Togo
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TK') Tokelau
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TO') Tonga
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TT') Trinidad and Tobago
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TN') Tunisia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TR') Turkey
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TM') Turkmenistan
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TC') Turks and Caicos Islands
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='TV') Tuvalu
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='UG') Uganda
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='UA') Ukraine
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='AE') United Arab Emirates
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='GB') United Kingdom
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='US') United States
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='UM') United States Minor Outlying Islands
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='UY') Uruguay
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='UZ') Uzbekistan
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='VU') Vanuatu
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='VE') Venezuela, Bolivarian Republic of
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='VN') Viet Nam
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='VG') Virgin Islands, British
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='VI') Virgin Islands, U.S.
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='WF') Wallis and Futuna
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='EH') Western Sahara
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='YE') Yemen
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='ZM') Zambia
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    option(value='ZW') Zimbabwe
                      // end: Form Wizard Step 4
                      // begin: Form Wizard Step 5
                      .kt-wizard-v1__content(data-ktwizard-type='step-content')
                        .kt-heading.kt-heading--md Review your Details and Submit
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .kt-form__section.kt-form__section--first
                          .kt-wizard-v1__review
                            .kt-wizard-v1__review-item
                              .kt-wizard-v1__review-title
                                | Current Address
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              .kt-wizard-v1__review-content
                                | Address Line 1
                                br
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Address Line 2
                                br
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Melbourne 3000, VIC, Australia
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .kt-wizard-v1__review-item
                              .kt-wizard-v1__review-title
                                | Delivery Details
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              .kt-wizard-v1__review-content
                                | Package: Complete Workstation (Monitor, Computer, Keyboard &amp; Mouse)
                                br
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Weight: 25kg
                                br
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Dimensions: 110cm (w) x 90cm (h) x 150cm (L)
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .kt-wizard-v1__review-item
                              .kt-wizard-v1__review-title
                                | Delivery Service Type
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              .kt-wizard-v1__review-content
                                | Overnight Delivery with Regular Packaging
                                br
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Preferred Morning (8:00AM - 11:00AM) Delivery
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .kt-wizard-v1__review-item
                              .kt-wizard-v1__review-title
                                | Delivery Address
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              .kt-wizard-v1__review-content
                                | Address Line 1
                                br
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Address Line 2
                                br
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Preston 3072, VIC, Australia
                      // end: Form Wizard Step 5
                      // begin: Form Actions
                      .kt-form__actions
                        button.btn.btn-secondary.btn-md.btn-tall.btn-wide.kt-font-bold.kt-font-transform-u(data-ktwizard-type='action-prev')
                          | Powrót
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        button.btn.btn-success.btn-md.btn-tall.btn-wide.kt-font-bold.kt-font-transform-u(data-ktwizard-type='action-submit')
                          | Zatwierdź
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        button.btn.btn-brand.btn-md.btn-tall.btn-wide.kt-font-bold.kt-font-transform-u(data-ktwizard-type='action-next')
                          | Dalej
                      // end: Form Actions
                    // end: Form Wizard Form
block scripts
  script(src='./assets/vendors/general/jquery-form/dist/jquery.form.min.js', type='text/javascript')
  script(src='./assets/vendors/general/jquery.repeater/src/lib.js', type='text/javascript')
  script(src='./assets/vendors/general/jquery.repeater/src/jquery.input.js', type='text/javascript')
  script(src='./assets/vendors/general/jquery.repeater/src/repeater.js', type='text/javascript')
  script(src='./assets/vendors/general/inputmask/dist/jquery.inputmask.bundle.js', type='text/javascript')
  script(src='./assets/vendors/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js', type='text/javascript')
  script(src='./assets/vendors/general/inputmask/dist/inputmask/inputmask.date.extensions.js', type='text/javascript')
  script(src='./assets/vendors/general/bootstrap-maxlength/src/bootstrap-maxlength.js', type='text/javascript')
  script(src='./assets/vendors/general/select2/dist/js/select2.full.js', type='text/javascript')
  script(src='./assets/vendors/general/jquery-validation/dist/jquery.validate.js', type='text/javascript')
  script(src='./assets/vendors/general/jquery-validation/dist/additional-methods.js', type='text/javascript')
  script(src='./assets/vendors/custom/js/vendors/jquery-validation.init.js', type='text/javascript')
  script(src='./assets/js/demo1/pages/pGenerator.js', type='text/javascript')
  script(src='./assets/js/private/offeradd.js', type='text/javascript')
