extends layout

block content
  if user
    // begin:: Content Head
    #kt_subheader.kt-subheader.kt-grid__item
      .kt-container.kt-container--fluid
        .kt-subheader__main
          h3.kt-subheader__title Uprawnienia
          span.kt-subheader__separator.kt-subheader__separator--v.kt-hidden
          span.kt-subheader__desc.kt-hidden #XRS-45670
          .kt-subheader__breadcrumbs
            a.kt-subheader__breadcrumbs-home(href='#')
              i.flaticon2-shelter
            span.kt-subheader__breadcrumbs-separator
            a.kt-subheader__breadcrumbs-link.kt-subheader__breadcrumbs-link--active(href='/dashboard/permissions') Uprawnienia
    // END:: Content Head
    // BEGIN:: Content
    .kt-container.kt-container--fluid.kt-grid__item.kt-grid__item--fluid
      // BEGIN:: Row
      .row
        .col-xl-12.order-lg-2.order-xl-1
          .kt-portlet.kt-portlet--height-fluid.kt-portlet--mobile
            .kt-portlet__head.kt-portlet__head--lg.kt-portlet__head--noborder.kt-portlet__head--break-sm
              .kt-portlet__head-label
                h3.kt-portlet__head-title Zarządzanie uprawnieniami 
            .kt-portlet__body
              .alert.alert-secondary(role='alert')
                .alert-icon
                  i.flaticon-exclamation-2.kt-font-brand
                .alert-text
                  b.kt-font-brand.kt-font-lg Zanim zaczniesz..
                  br
                  | Pamiętaj aby rozważnie zarządzać uprawnieniami ról i użytkowników, nadanie uprawnień które nie są przystosowane dla niektórych ról
                  | to potencjalne zagrożenie przejęcia kontroli nad systemem przez osoby trzecie. Ostatecznie: 
                  b Nadawaj wyższe uprawnienia tylko zaufanym użytkownikom.
              .col-md-5.kt-margin-l-20
                label(for='role_select') Wybierz rolę dla której chcesz zmodyfikować uprawnienia: 
                select#role_select.form-control.form-control-lg
                  option(selected='', value='0', disabled='') Wybierz rolę
                  option(value='administrator') Administrator
                  option(value='kierownik') Kierownik
                  option(value='posrednik') Pośrednik
                  option(value='pracownik') Pracownik
        #show_table_perm.col-xl-12.order-lg-2.order-xl-1.kt-hidden
          .kt-portlet.kt-portlet--mobile
            .kt-portlet__body
              form.form-perm-modify.kt-form
                input#role_form(type='hidden', name='role', value='0')
                i.flaticon2-world.kt-font-xl.d-inline-block &nbsp;&nbsp;
                h5.kt-font-dark.d-inline-block
                  | Uprawnienia ogólne
                hr
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', disabled='disabled', name='crm.statistics.default')
                        span
                  label.col-9.col-form-label Zezwól na wyświetlanie podstawowych statystyk na stronie głównej.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', disabled='disabled', name='crm.profile.show')
                        span
                  label.col-9.col-form-label Zezwól na wyświetlanie własnego profilu.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', disabled='disabled', name='crm.global.settings')
                        span
                  label.col-9.col-form-label Zezwól na modyfikację globalnych ustawień systemowych.
                i.flaticon2-bell-5.kt-font-xl.d-inline-block &nbsp;&nbsp;
                h5.kt-font-dark.kt-padding-t-20.d-inline-block
                  | Uprawnienia dot. zapytań ofertowych
                hr
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.roffers.show', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na wyświetlanie zapytań ofertowych.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.roffers.add', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na dodawanie nowych zapytań ofertowych.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.roffers.data_change', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na modyfikację zapytań ofertowych.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.roffers.send_to', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na wysyłanie zapytań ofertowych do banków.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.roffers.delete', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na usuwanie zapytań ofertowych.
                i.flaticon2-group.kt-font-xl.d-inline-block &nbsp;&nbsp;
                h5.kt-font-dark.kt-padding-t-20.d-inline-block
                  | Uprawnienia dot. zarządzania pracownikami
                hr
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.employees.show', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na wyświetlanie listy pracowników.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.users.assign_edit', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na przypisywanie pracowników.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.employees.edit', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na modyfikację pracowników.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.employees.delete', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na usuwanie pracowników.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.employees.add', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na dodawanie nowych pracowników.
                #other-role-elements.kt-hidden
                  .form-group.row.kt-margin-b-0.kt-margin-l-40
                    .col-1
                      span.kt-switch.kt-switch--sm.kt-switch--brand
                        label
                          input(type='checkbox', name='crm.employees.add.administrator', disabled='')
                          span
                    label.col-9.col-form-label(style='margin-left:-15px;') Zezwól na dodawanie administratorów.
                  .form-group.row.kt-margin-b-0.kt-margin-l-40
                    .col-1
                      span.kt-switch.kt-switch--sm.kt-switch--brand
                        label
                          input(type='checkbox', name='crm.employees.add.kierownik', disabled='')
                          span
                    label.col-9.col-form-label(style='margin-left:-15px;') Zezwól na dodawanie kierowników.
                  .form-group.row.kt-margin-b-0.kt-margin-l-40
                    .col-1
                      span.kt-switch.kt-switch--sm.kt-switch--brand
                        label
                          input(type='checkbox', name='crm.employees.add.posrednik', disabled='')
                          span
                    label.col-9.col-form-label(style='margin-left:-15px;') Zezwól na dodawanie pośredników.
                  .form-group.row.kt-margin-b-0.kt-margin-l-40
                    .col-1
                      span.kt-switch.kt-switch--sm.kt-switch--brand
                        label
                          input(type='checkbox', name='crm.employees.add.pracownik', disabled='')
                          span
                    label.col-9.col-form-label(style='margin-left:-15px;') Zezwól na dodawanie pracowników.
                i.flaticon2-group.kt-font-xl.d-inline-block &nbsp;&nbsp;
                h5.kt-font-dark.kt-padding-t-20.d-inline-block
                  | Uprawnienia dot. zarządzania firmami
                hr
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.companies.show', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na wyświetlanie listy firm.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.companies.add', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na dodawanie nowych firm.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.companies.edit', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na modyfikację danych firm.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.companies.delete', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na usuwanie firm.
                i.flaticon-avatar.kt-font-xl.d-inline-block &nbsp;&nbsp;
                h5.kt-font-dark.kt-padding-t-20.d-inline-block
                  | Uprawnienia dot. zarządzania klientami
                hr
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.clients.show', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na wyświetlanie listy klientów.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.clients.add', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na dodawanie nowych klientów.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.clients.edit', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na edycję przypisanych klientów.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.clients.delete', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na usuwanie klientów.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.client.assign_edit', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na przypisanie konta klienta do pracownika.
                i.flaticon-clipboard.kt-font-xl.d-inline-block &nbsp;&nbsp;
                h5.kt-font-dark.kt-padding-t-20.d-inline-block
                  | Uprawnienia dot. ofert
                hr
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.offers.show', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na wyświetlanie listy ofert.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.offers.add', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na dodawanie nowych ofert.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.offers.status_change', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na zmianę statusu oferty.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.offers.data_change', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na modyfikację danych ofertowych.
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.offers.delete', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na usuwanie ofert.
                i.flaticon2-rocket-1.kt-font-xl.d-inline-block &nbsp;&nbsp;
                h5.kt-font-dark.kt-padding-t-20.d-inline-block
                  | Uprawnienia systemowe
                hr
                .form-group.row.kt-margin-b-0
                  .col-1
                    span.kt-switch.kt-switch--brand
                      label
                        input(type='checkbox', name='crm.permissions.modify', disabled='')
                        span
                  label.col-9.col-form-label Zezwól na zarządzanie systemowymi uprawnieniami.&nbsp;&nbsp;
                    span#red-communicate.kt-hidden(data-skin="dark", data-toggle="kt-tooltip", data-placement="bottom", title="", data-original-title="To uprawnienie jest zastrzeżone dla administratora.")
                      i.flaticon2-warning-1.kt-font-lg.kt-font-danger
                button#button-save.btn.btn-brand.btn-elevate.btn-pill.btn-wide.kt-margin-t-20(type='submit', disabled='disabled', name='saveperm')
                  i.flaticon2-checkmark
                  |  Zapisz zmiany
block scripts
  script(src='./assets/js/private/modpermission.js' type='text/javascript')
