extends layout

block content
  // begin:: Content Head
  #kt_subheader.kt-subheader.kt-grid__item
    .kt-container.kt-container--fluid
      . kt-subheader__main
                  h3.kt-subheader__title Pulpit nawigacyjny
                  span.kt-subheader__separator.kt-subheader__separator--v.kt-hidden
                              span.kt-subheader__desc.kt-hidden #XRS-45670
        .                     kt-subheader__breadcrumbs
          a.kt-subheader__breadcrumbs-home(href='#')
            i.flaticon2-shelter
  // END:: Content Head
  // BEGIN:: Content
  .kt-container.kt-container--fluid.kt-grid__item.kt-grid__item--fluid
