extends layout

block stylecss
  link(href='./assets/css/demo1/pages/support-center/faq-1.css', rel='stylesheet', type='text/css')

block content
  if user
    .kt-sc-faq(style="margin-top:-80px;background-image: url('./assets/media/bg/bg-9.jpg')")
      .kt-container
        .kt-sc__top
          h3.kt-sc__title
            | System i aktualizacje
          .kt-sc__nav
            a.kt-link.kt-font-bold(href='/dashboard/report') Centrum pomocy
    // end:: Hero
    .kt-negative-spacing--7
    // begin:: Section
    .kt-container
      .kt-portlet
        .kt-portlet__body
          .kt-infobox
            .kt-infobox__header
              h2.kt-infobox__title Ostatnie aktualizacje
            .kt-infobox__body
              .kt-infobox__section
                h3.kt-infobox__subtitle Aktualizacja do wersji 1.6.1.3 beta
                h6(style="margin-top:-10px;") Data dodania: 19:15 27.01.2020
                .kt-infobox__content.kt-margin-t-20.kt-margin-l-20
                  .kt-list-timeline
                    .kt-list-timeline__items
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text 
                          | Dodano nową zakładkę 
                          code.kt-font-md Dodaj zapytanie ofertowe
                          | , od teraz można dodawać zapytania ofertowe bezpośrednio z systemu.
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text 
                          | Utworzono powiadomienia, które wpływają po dodaniu zapytania ofertowego (strona systemowa), otrzymują je administratorzy oraz pracownik obsługujący danego klienta.
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Dodano sortowanie zapytań ofertowych: 
                          code.kt-font-md od najnowszych
                          | ,
                          code.kt-font-md od najstarszych
                          | ,
                          code.kt-font-md alfabetycznie
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Dodano możliwość usuwania klientów, zapytań ofertowych oraz ofert.
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Dodano nowe uprawnienia dot. zapytań ofertowych oraz zarządzania klientami.
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Utworzono 
                          b panel klienta 
                          | w którym użytkownik może przeglądać swoje dane oraz oferty (podgląd statusów, pobieranie plików).
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Utworzono system generowania haseł do kont klientów. Bezpośrednio po aktywacji, klient otrzymuje wiadomość e-mail z hasłem do swojego konta oraz odnośnikiem do panelu.
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Dodano możliwość ponownego wysłania zapytania ofertowego do banków.
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Dodano szatę graficzną do aktywacyjnej strony klienta.
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Poprawiono drobne błędy, które zakłócały pracę systemu.
              .kt-infobox__section
                h3.kt-infobox__subtitle Bugfix do wersji 1.6.0.2 beta
                h6(style="margin-top:-10px;") Data dodania: 22:09 10.01.2020
                .kt-infobox__content.kt-margin-t-20.kt-margin-l-20
                  .kt-list-timeline
                    .kt-list-timeline__items
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text 
                          | Naprawiono błąd związany z dodawaniem klientów 
                          code.kt-font-md (value not defined)
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Poprawiono czyszczenie pól w formularzu.
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Zmieniono regułę dodawania klientów - nie ma możliwości dodania nowego klienta z adresem e-mail, który już istnieje w systemie.
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Naprawiono wykres przedstawiający dzienną prognozowaną prowizję.
              .kt-infobox__section
                h3.kt-infobox__subtitle Aktualizacja do wersji 1.6.0.2 beta
                h6(style="margin-top:-10px;") Data dodania: 10:43 10.01.2020
                .kt-infobox__content.kt-margin-t-20.kt-margin-l-20
                  .kt-list-timeline
                    .kt-list-timeline__items
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text 
                          | Usunięto z głównego menu zakładkę 
                          b Dokumentacja
                          | , w jej miejsce dodano 
                          b System i aktualizacje
                          | .
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Naprawiono podsumowanie dodawania ofert, od teraz wszystkie dane poprawnie się wyświetlają.
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Zmniejszono wielkość generowanego pliku PDF dla zapytania 
                          b leasing 
                          | z 10 MB do 1.4 MB.
                      .kt-list-timeline__item
                        span.kt-list-timeline__badge.kt-list-timeline__badge--dark
                        span.kt-list-timeline__text
                          | Dodano komunikat z postępem wysyłania wiadomości (wysyłka wiadomości e-mail do firm).
    // end:: Section
    // begin:: Section
    .kt-container.kt-hidden
      .row
        .col-lg-4
          .kt-portlet.kt-iconbox.kt-iconbox--animate-slow
            .kt-portlet__body
              .kt-iconbox__body
                .kt-iconbox__icon
                  svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewbox='0 0 24 24', version='1.1')
                    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      rect#bound(x='0', y='0', width='24', height='24')
                      path#Combined-Shape(d='M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z', fill='#000000', opacity='0.3')
                      path#Combined-Shape(d='M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z', fill='#000000')
                .kt-iconbox__desc
                  h3.kt-iconbox__title
                    a.kt-link(href='#') Getting Started
                  .kt-iconbox__content
                    | Windows 10 automatically downloads and installs updates.
        .col-lg-4
          .kt-portlet.kt-iconbox.kt-iconbox--animate
            .kt-portlet__body
              .kt-iconbox__body
                .kt-iconbox__icon
                  svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewbox='0 0 24 24', version='1.1')
                    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      rect#bound(x='0', y='0', width='24', height='24')
                      path#Combined-Shape(d='M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z', fill='#000000', opacity='0.3')
                      path#check-path(d='M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z', fill='#000000')
                      path#Combined-Shape(d='M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z', fill='#000000')
                .kt-iconbox__desc
                  h3.kt-iconbox__title
                    a.kt-link(href='#') Tutorials
                  .kt-iconbox__content
                    | Windows 10 automatically downloads and installs updates.
        .col-lg-4
          .kt-portlet.kt-iconbox.kt-iconbox--animate-slower
            .kt-portlet__body
              .kt-iconbox__body
                .kt-iconbox__icon
                  svg.kt-svg-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewbox='0 0 24 24', version='1.1')
                    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      polygon#Shape(points='0 0 24 0 24 24 0 24')
                      path#Mask(d='M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z', fill='#000000', fill-rule='nonzero', opacity='0.3')
                      path#Mask-Copy(d='M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z', fill='#000000', fill-rule='nonzero')
                .kt-iconbox__desc
                  h3.kt-iconbox__title
                    a.kt-link(href='#') User Guide
                  .kt-iconbox__content
                    | Windows 10 automatically downloads and installs updates.
