doctype true
head
  //if gte mso 9
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
  meta(content='width=device-width' name='viewport')
  // [if !mso] <!
  meta(content='IE=edge' http-equiv='X-UA-Compatible')
  // <![endif]
  title
  // [if !mso] <!
  link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
  // <![endif]
  style(type='text/css').
    body {
    margin: 0;
    padding: 0;
    }
    table,
    td,
    tr {
    vertical-align: top;
    border-collapse: collapse;
    }
    * {
    line-height: inherit;
    }
    a[x-apple-data-detectors=true] {
    color: inherit !important;
    text-decoration: none !important;
    }
  style#media-query(type='text/css').
    @media (max-width: 670px) {
    .block-grid,
    .col {
    min-width: 320px !important;
    max-width: 100% !important;
    display: block !important;
    }
    .block-grid {
    width: 100% !important;
    }
    .col {
    width: 100% !important;
    }
    .col>div {
    margin: 0 auto;
    }
    img.fullwidth,
    img.fullwidthOnMobile {
    max-width: 100% !important;
    }
    .no-stack .col {
    min-width: 0 !important;
    display: table-cell !important;
    }
    .no-stack.two-up .col {
    width: 50% !important;
    }
    .no-stack .col.num4 {
    width: 33% !important;
    }
    .no-stack .col.num8 {
    width: 66% !important;
    }
    .no-stack .col.num4 {
    width: 33% !important;
    }
    .no-stack .col.num3 {
    width: 25% !important;
    }
    .no-stack .col.num6 {
    width: 50% !important;
    }
    .no-stack .col.num9 {
    width: 75% !important;
    }
    .video-block {
    max-width: none !important;
    }
    .mobile_hide {
    min-height: 0px;
    max-height: 0px;
    max-width: 0px;
    display: none;
    overflow: hidden;
    font-size: 0px;
    }
    .desktop_hide {
    display: block !important;
    max-height: none !important;
    }
    }
//if IE
  .ie-browser
table.nl-container(bgcolor='#F6F5FF' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; min-width: 320px; Margin: 0 auto; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #F6F5FF; width: 100%;' valign='top' width='100%')
  tbody
    tr(style='vertical-align: top;' valign='top')
      td(style='word-break: break-word; vertical-align: top;' valign='top')
        //if (mso)|(IE)
          table(width='100%' cellpadding='0' cellspacing='0' border='0')
            tr
              td(align='center' style='background-color:#F6F5FF')
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:650px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center' width='650' style='background-color:transparent;width:650px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 30px; padding-left: 30px; padding-top:20px; padding-bottom:40px;')
              .col.num12(style='min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top; width: 650px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:20px; padding-bottom:40px; padding-right: 30px; padding-left: 30px;')
                    // <![endif]
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 25px; padding-bottom: 5px; font-family: Arial, sans-serif')
                    div(style='color:#B1AED1;font-family:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;line-height:1.2;padding-top:25px;padding-right:10px;padding-bottom:5px;padding-left:10px;')
                      div(style='font-size: 16px; line-height: 1.2; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; color: #B1AED1; mso-line-height-alt: 19px;')
                        p(style='font-size: 20px; line-height: 1.2; text-align: center; word-break: break-word; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 24px; margin: 0;')
                          span(style='font-size: 20px;') PROFESJONALNE WSPARCIE DLA TWOJEGO BIZNESU
                    //if mso
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 5px; padding-left: 5px; padding-top: 0px; padding-bottom: 5px; font-family: Tahoma, Verdana, sans-serif')
                    div(style="color:#6C63FF;font-family:'Roboto', Tahoma, Verdana, Segoe, sans-serif;line-height:1.2;padding-top:0px;padding-right:5px;padding-bottom:5px;padding-left:5px;")
                      div(style="line-height: 1.2; font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif; font-size: 12px; color: #6C63FF; mso-line-height-alt: 14px;")
                        p(style='line-height: 1.2; text-align: center; font-size: 12px; word-break: break-word; font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14px; margin: 0;')
                          strong
                            span(style='font-size: 38px;') wsparciedlabiznesu.
                    //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:650px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center' width='650' style='background-color:transparent;width:650px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
              .col.num12(style='min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top; width: 650px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .img-container.center.autowidth.fullwidth(align='center')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr(style='line-height:0px')
                            td(style='' align='center')
                      img.center.autowidth.fullwidth(align='center' alt='Image' border='0' src='/roffer_images/Top.png' style='text-decoration: none; -ms-interpolation-mode: bicubic; border: 0; height: auto; width: 100%; max-width: 650px; display: block;' title='Image' width='650')
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:650px')
                        tr.layout-full-width(style='background-color:#FFFFFF')
              //if (mso)|(IE)
                td(align='center' width='650' style='background-color:#FFFFFF;width:650px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 30px; padding-left: 30px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top; width: 650px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 30px; padding-left: 30px;')
                    // <![endif]
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 20px; padding-left: 20px; padding-top: 0px; padding-bottom: 5px; font-family: Tahoma, Verdana, sans-serif')
                    div(style="color:#C059FF;font-family:'Roboto', Tahoma, Verdana, Segoe, sans-serif;line-height:1.2;padding-top:0px;padding-right:20px;padding-bottom:5px;padding-left:20px;")
                      div(style="line-height: 1.2; font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif; font-size: 12px; color: #C059FF; mso-line-height-alt: 14px;")
                        p(style='line-height: 1.2; text-align: center; font-size: 22px; word-break: break-word; font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 26px; margin: 0;')
                          span(style='font-size: 22px;')
                            strong Witaj, #{client_name}
                    //if mso
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 0px; padding-bottom: 0px; font-family: Tahoma, Verdana, sans-serif')
                    div(style="color:#454562;font-family:'Roboto', Tahoma, Verdana, Segoe, sans-serif;line-height:1.2;padding-top:0px;padding-right:10px;padding-bottom:0px;padding-left:10px;")
                      div(style="line-height: 1.2; font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif; font-size: 12px; color: #454562; mso-line-height-alt: 14px;")
                        p(style='line-height: 1.2; text-align: center; font-size: 34px; word-break: break-word; font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 41px; margin: 0;')
                          span(style='font-size: 34px;') Dzi&eogon;kujemy za z&lstrok;o&zdot;enie zapytania
                    //if mso
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 25px; padding-bottom: 15px; font-family: Arial, sans-serif')
                    div(style='color:#555555;font-family:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;line-height:1.5;padding-top:25px;padding-right:10px;padding-bottom:15px;padding-left:10px;')
                      div(style='font-size: 14px; line-height: 1.5; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; color: #555555; mso-line-height-alt: 21px;')
                        p(style='font-size: 14px; line-height: 1.5; text-align: center; word-break: break-word; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 21px; margin: 0;')
                          | Twoje zapytanie ofertowe o identyfikatorze 
                          span(style='font-size: 14px;')
                            strong #{identity}&nbsp;
                          |  zosta&lstrok;o z&lstrok;o&zdot;one, w przeci&aogon;gu 1-2 dni roboczych zostaniesz obs&lstrok;u&zdot;ony przez naszego pracownika.
                        p(style='font-size: 14px; line-height: 1.5; text-align: center; word-break: break-word; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 21px; margin: 0;') &nbsp;
                        if isActivated == true
                          p(style='font-size: 14px; line-height: 1.5; text-align: center; word-break: break-word; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 21px; margin: 0;')
                            | Wszystkie zgody s&aogon; ju&zdot; przez Ciebie potwierdzone, Twoje konto istnieje ju&zdot; w naszym systemie, przejd&zacute; do panelu klienta.
                        if isActivated == false
                          p(style='font-size: 14px; line-height: 1.5; text-align: center; word-break: break-word; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 21px; margin: 0;')
                            | Skuteczne przygotowanie oferty wymaga, potwierdzenia zgody na przygotowanie oferty. Potwierdzenie tej czynno&sacute;ci pozwoli na dost&eogon;p do Twoich danych w przysz&lstrok;o&sacute;ci. 
                            b Dane logowania do panelu klienta zostaną wysłane po aktywacji konta.
                    //if mso
                    if isActivated == true
                      .button-container(align='center' style='padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                        //if mso
                          table(width='100%' cellpadding='0' cellspacing='0' border='0' style='border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                            tr
                              td(style='padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px' align='center')
                                v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' href='#' style='height:34.5pt; width:224.25pt; v-text-anchor:middle;' arcsize='109%' strokeweight='1.5pt' strokecolor='#3F55CB' fillcolor='#3f55cb')
                                  w:anchorlock
                                    v:textbox(inset='0,0,0,0')
                                      center(style='color:#FFFFFF; font-family:Arial, sans-serif; font-size:16px')
                        a(href='https://wsparciedlabiznesu.eu/panel' style='-webkit-text-size-adjust: none; text-decoration: none; display: inline-block; color: #FFFFFF; background-color: #3f55cb; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px; width: auto; width: auto; border-top: 2px solid #3F55CB; border-right: 2px solid #3F55CB; border-bottom: 2px solid #3F55CB; border-left: 2px solid #3F55CB; padding-top: 5px; padding-bottom: 5px; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;' target='_blank')
                          span(style='padding-left:50px;padding-right:50px;font-size:16px;display:inline-block;')
                            span(style='font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;')
                              strong Panel klienta
                        //if mso
                    if isActivated == false
                      .button-container(align='center' style='padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                        //if mso
                          table(width='100%' cellpadding='0' cellspacing='0' border='0' style='border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                            tr
                              td(style='padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px' align='center')
                                v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' href='#' style='height:34.5pt; width:333pt; v-text-anchor:middle;' arcsize='109%' strokeweight='1.5pt' strokecolor='#C059FF' fillcolor='#C059FF')
                                  w:anchorlock
                                    v:textbox(inset='0,0,0,0')
                                      center(style='color:#FFFFFF; font-family:Arial, sans-serif; font-size:16px')
                        a(href=`${hashlink}` style='-webkit-text-size-adjust: none; text-decoration: none; display: inline-block; color: #FFFFFF; background-color: #C059FF; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px; width: auto; width: auto; border-top: 2px solid #C059FF; border-right: 2px solid #C059FF; border-bottom: 2px solid #C059FF; border-left: 2px solid #C059FF; padding-top: 5px; padding-bottom: 5px; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;' target='_blank')
                          span(style='padding-left:50px;padding-right:50px;font-size:16px;display:inline-block;')
                            span(style='font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;')
                              strong Potwierd&zacute; zgod&eogon; i aktywuj konto
                        //if mso
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 25px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 2px dotted #DDDBF2; height: 0px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='0' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 15px; font-family: Arial, sans-serif')
                    div(style='color:#555555;font-family:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;line-height:1.5;padding-top:10px;padding-right:10px;padding-bottom:15px;padding-left:10px;')
                      div(style='line-height: 1.5; font-size: 12px; color: #555555; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 18px;')
                        p(style='text-align: center; line-height: 1.5; word-break: break-word; font-size: 14px; mso-line-height-alt: 21px; margin: 0;')
                          span(style='font-size: 14px;')
                            | Ofert&eogon; otrzymasz za po&sacute;rednictwem 
                            strong Profesjonalne Wsparcie dla Twojego Biznesu sp. z o.o.
                            |  kt&oacute;ra jest administratorem Twoich danych osobowych.
                        p(style='line-height: 1.5; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;') &nbsp;
                        p(style='text-align: center; line-height: 1.5; word-break: break-word; font-size: 14px; mso-line-height-alt: 21px; margin: 0;')
                          span(style='font-size: 14px;')
                            | W przypadku pyta&nacute; w sprawie oferty prosz&eogon; o kontakt na email: 
                            strong kontakt@wsparciedlabiznesu.eu&nbsp;
                          span(style='font-size: 14px;')
                            | lub pod telefonem 
                            strong 790-462-526
                    //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:650px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center' width='650' style='background-color:transparent;width:650px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
              .col.num12(style='min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top; width: 650px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .img-container.center.autowidth.fullwidth(align='center' style='padding-right: 0px;padding-left: 0px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr(style='line-height:0px')
                            td(style='padding-right: 0px;padding-left: 0px;' align='center')
                      img.center.autowidth.fullwidth(align='center' alt='Image' border='0' src='/roffer_images/Btm.png' style='text-decoration: none; -ms-interpolation-mode: bicubic; border: 0; height: auto; width: 100%; max-width: 650px; display: block;' title='Image' width='650')
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:650px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center' width='650' style='background-color:transparent;width:650px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 30px; padding-left: 30px; padding-top:25px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top; width: 650px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:25px; padding-bottom:5px; padding-right: 30px; padding-left: 30px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 25px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 2px dotted #DDDBF2; height: 0px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='0' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:650px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center' width='650' style='background-color:transparent;width:650px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 25px; padding-left: 25px; padding-top:35px; padding-bottom:25px;')
              .col.num12(style='min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top; width: 650px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:35px; padding-bottom:25px; padding-right: 25px; padding-left: 25px;')
                    // <![endif]
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, sans-serif')
                    if isActivated == true
                      div(style='color:#555555;font-family:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                        div(style='font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.2; color: #555555; mso-line-height-alt: 14px;')
                          p(style='font-size: 18px; line-height: 1.2; text-align: center; word-break: break-word; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 22px; margin: 0;')
                            span(style='font-size: 18px;')
                              strong Wszystkie zgody s&aogon; ju&zdot; przez Ciebie potwierdzone.
                    if isActivated == false
                      div(style='color:#555555;font-family:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                        div(style='font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.2; color: #555555; mso-line-height-alt: 14px;')
                          p(style='font-size: 18px; line-height: 1.2; text-align: center; word-break: break-word; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 22px; margin: 0;')
                            span(style='font-size: 18px;')
                              strong Za po&sacute;rednictwem formularza zosta&lstrok;a wyra&zdot;ona zgoda
                    //if mso
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, sans-serif')
                    div(style='color:#6B6B6B;font-family:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      div(style='font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.2; color: #6B6B6B; mso-line-height-alt: 14px;')
                        p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 17px; margin: 0;')
                          | Dane osobowe przetwarzane s&aogon; w celu dopasowania i przes&lstrok;ania aktualnej oferty us&lstrok;ug finansowych, na podstawie udzielonej zgody.
                        p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 17px; margin: 0;') &nbsp;
                        ul
                          li(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 17px;')
                            | Wyra&zdot;am zgod&eogon; na przetwarzanie danych osobowych podanych w powy&zdot;szym formularzu stronie 
                            strong https://wsparciedlabiznesu.eu/zapytania/
                            | &nbsp;dla Profesjonalne Wsparcie dla Twojego Biznesu sp. z o.o. z siedzib&aogon; w P&lstrok;ocku przy ul. Jana Paw&lstrok;a II 74/21 (,,zwanych dalej ADMINISTRATOR&rdquo;) w celach zwi&aogon;zanych z wykonywaniem us&lstrok;ug po&sacute;rednictwa finansowego jak r&oacute;wnie&zdot; us&lstrok;ug z tym zwi&aogon;zanych.
                        p(style='line-height: 1.2; word-break: break-word; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: NaNpx; margin: 0;') &nbsp;
                        ul
                          li(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: left; mso-line-height-alt: 17px;')
                            | Wyra&zdot;am zgod&eogon; na przetwarzanie danych w celach marketingowych zwi&aogon;zanych z promowaniem us&lstrok;ug dla ADMINISTRATOR i przesy&lstrok;ania informacji drog&aogon; email.
                        p(style='text-align: left; line-height: 1.2; word-break: break-word; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: NaNpx; margin: 0;')
                          | Dane osobowe b&eogon;d&aogon; przechowywane do momentu wycofania zgody, kt&oacute;ra jest mo&zdot;liwa poprzez wys&lstrok;anie poczt&aogon; elektroniczn&aogon; na adres 
                          strong kontakt@wsparciedlabizesu.eu
                          |  &zdot;&aogon;dania wraz z podaniem danych u&zdot;ytkownika. Przys&lstrok;uguje Pani/Panu prawo do: &zdot;&aogon;dania dost&eogon;pu do swoich danych osobowych, ich sprostowania, usuni&eogon;cia lub ograniczenia przetwarzania, a tak&zdot;e prawo do przenoszenia danych, cofni&eogon;cia zgody na przetwarzanie danych w dowolnym momencie (nie wp&lstrok;ywa to na zgodno&sacute;&cacute; z prawem przetwarzania, kt&oacute;rego dokonano na podstawie zgody przed jej cofni&eogon;ciem), skorzystanie z tego prawa jest realizowane poprzez wys&lstrok;anie poczt&aogon; elektroniczn&aogon; na adres 
                          strong kontakt@wsparciedlabizesu.eu
                          |  &zdot;&aogon;dania wraz z podaniem danych u&zdot;ytkownika.
                        p(style='text-align: left; line-height: 1.2; word-break: break-word; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: NaNpx; margin: 0;')
                          | Podanie danych jest dobrowolne. W przypadku niepodania danych, nie b&eogon;dzie mo&zdot;liwo&sacute;ci przedstawienia oferty i informacji handlowych dotycz&aogon;cych oferty. Pani/Pana dane osobowe nie b&eogon;d&aogon; przetwarzane w spos&oacute;b zautomatyzowany.
                    //if mso
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 25px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 2px dotted #DDDBF2; height: 0px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='0' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:#FFFFFF;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:#FFFFFF;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:650px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center' width='650' style='background-color:transparent;width:650px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 20px; padding-left: 20px; padding-top:15px; padding-bottom:15px;')
              .col.num12(style='min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top; width: 650px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:15px; padding-bottom:15px; padding-right: 20px; padding-left: 20px;')
                    // <![endif]
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, sans-serif')
                    div(style='color:#6B6B6B;font-family:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      div(style='font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.2; color: #6B6B6B; mso-line-height-alt: 14px;')
                        p(style='font-size: 14px; line-height: 1.2; text-align: center; word-break: break-word; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 17px; margin: 0;')
                          em Ta wiadomo&sacute;&cacute; zosta&lstrok;a wygenerowana automatycznie, prosimy na ni&aogon; nie odpowiada&cacute;.
                        p(style='font-size: 14px; line-height: 1.2; text-align: center; word-break: break-word; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 17px; margin: 0;')
                          strong Profesjonalne Wsparcie dla Twojego Biznesu sp. z o.o.
                        p(style='font-size: 14px; line-height: 1.2; text-align: center; word-break: break-word; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 17px; margin: 0;')
                          | z siedzib&aogon; w P&lstrok;ocku, 
                          strong &nbsp;NIP 774-325-10-22
                          | , 
                          strong &nbsp;REGON 384843442
                          br
                          | Wszelkie prawa zastrze&zdot;one. Zaprojektowano przez&nbsp;
                          span(style='font-size: 14px; color: #c059ff;') &#x2764;
                          strong &nbsp;wsparciedlabiznesu.eu
                    //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        //if (mso)|(IE)
//if (IE)
